<div>
  <div class="text-center box-title">
    <h1 class="title">LIBROS</h1>
  </div>
  <div [ngClass]="'tienda'">
    <a href="https://www.amazon.com/stores/Estefan%C3%ADa-Ponce-de-Le%C3%B3n/author/B0BRHJ37GH" target="_blank" rel="noreferrer">
      <img src="assets/tienda.png" class="img-fluid"/></a><br/>
    <a href="https://www.amazon.com/stores/Estefan%C3%ADa-Ponce-de-Le%C3%B3n/author/B0BRHJ37GH" target="_blank" rel="noreferrer">
      <img src="assets/amazon.png" class="img-fluid amazon-brand"/></a>

  </div>

</div>
