<div>
  <div class="text-center box-title">
    <h1 class="title">ACERCA DE</h1>
  </div>
  <div [ngClass]="'about'">
    <div class="row">
      <div class="col-sm">
        <img class="img-fluid profile" rounded src="assets/profile.gif" />
      </div>
      <div class="col-sm about-text">
        <h1>¿Quién soy yo?</h1>
        <p>Una simple chica que gusta de compartir su pasión por la poesía y la literatura; que para ella son otra ventana más hacia este mundo...</p>
        <p> Clasifico mi trabajo como poesía espiritual al mismo tiempo que realista, con el toque romántico de amor y/o desamor que encubre nuestra vida y mi obvio estilo gótico y tristón.</p>
        <p>Claro, me encantaría abrir este espacio para tener una conexión mas cercana con mi público, porque en mi idea es conocerlos más y generar mejor contenido a gusto del escritor (mío) y suyo.</p>
        <p>Para los que son nuevos lectores, les recomiendo no leer solamente un poema. En mi manera de escribir voy relatando una historia y cada uno de los poemas son parte de ella, por ello no es sencillo entender el hilo de la idea con sólo uno (algo que se simplifica con los poemarios). Así que con paciencia, poco a poco descubriremos esta historia.</p>
      </div>
    </div>
  </div>

</div>
