<div [ngClass]="'contenido'">
    <div class="text-center box-title">
        <h1 class="title">BIENVENID@</h1>
    </div>

    <app-poema [poemas]=this.List></app-poema>
    <app-about></app-about>
   <div class="row text-center ">
       <div class="col-12">
           <div class="text-center box-title brand">
               <h1 class="title">DEDICATORIAS</h1>
           </div>
               <app-dedications></app-dedications>
       </div>
   </div>
    <a href="https://www.amazon.com/stores/Estefan%C3%ADa-Ponce-de-Le%C3%B3n/author/B0BRHJ37GH" target="_blank"
       rel="noreferrer">
        <div class="text-center box-title brand">
            <h1 class="title">LIBROS</h1>
        </div>
    </a>
</div>
