@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200&family=Courgette&display=swap');
html{
  background-color: black;
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-attachment: fixed;
  height: 100%;
  color: aliceblue;
  
}
img{
  max-width: 5vh;
  margin-left: 3vh;
}
h1{
  color:black;
   text-align: center;
   font-size: 15vh;
   font-family: 'Courgette', cursive;
   margin-bottom: 0%;
}
h2{
  color:aliceblue;
   text-align: center;
   font-size: 5vh;
   font-family: 'Courgette', cursive;
   margin-bottom: 5%;
   margin-top: 0%;
}
.eponce:hover{
  color: aliceblue;
  cursor: pointer;
}
.poesia:hover{
  color: black;
  cursor: pointer;
}
.poesiaContainer{
  text-align: justify;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-collapse: collapse;
  font-size: 4vh;
  font-family: 'Arima', cursive;
  border-style: dashed;
  border-color: aliceblue;
}
.poesiaContainer>tbody>tr>td>p{
 margin-left: 5%;
 margin-right: 5%;
}
a{
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}
.content{
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
  border-collapse: collapse;

}
.content>tbody>tr{
  margin: 25%;
  border-style: dashed;
  font-size: 4vh;
  font-family: 'Arima', cursive;
  vertical-align: center;
  border-color: aliceblue;
}
.content>tbody>tr>td{
  margin: 25%;
}
.content>tbody>tr>td>.anuncio{
  color: rgb(254, 130, 6);
}
.SocialMedia{
  text-align: center;
  font-size: 4vh;
  margin-top: 0%;
  padding-top: 0%;
}
.SocialMedia>a{
  text-align: center;
  color: aliceblue;
  font-size: 4vh;
  margin-right: 5%
}
.SocialMedia>a:hover{
  color: black;
}


.footer{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}
.footer>tbody>tr>td{
  border-style: none;
  font-size: 4vh;
  font-family: 'Arima', cursive;
  margin: 25%;
}
.content>tbody>tr>td>a:hover{
  color: black;
  text-shadow: 0 0 50px #fff;
}
@media screen and (max-width: 600px) {
  .content{
    width: 70%;
  }
  .poesiaContainer{
    width: 70%;
  }
  .content>tbody>tr>td{
    font-size: 3vh;
  }
  .footer{
    width: 70%;
  }
  .footer>tbody>tr>td{
    font-size: 3vh;
  }
}